<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.letracker">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.CALL_PHONE"/>

    <application
            android:name=".other.MyApplication"
            android:allowBackup="true"
            android:icon="@drawable/ic_user_profile"
            android:label="@string/app_name"
            android:roundIcon="@drawable/ic_user_profile"
            android:supportsRtl="true"
            android:theme="@style/AppTheme">
        <activity android:name=".payment_history.PaymentHistoryActivity">
        </activity>
        <activity android:name=".user.activity.MakePaymentActivity">
        </activity>
        <activity android:name=".user.activity.AttendanceActivity">
        </activity>
        <activity android:name=".user.activity.SiteListActivity">
        </activity>
        <activity android:name=".user.activity.SiteDetailsActivity">
        </activity>
        <activity android:name=".user.activity.LaborListActivity">
        </activity>
        <activity android:name=".admin.activity.AssignUserActivity">
        </activity>
        <activity android:name=".admin.activity.DeviceFirmwareActivity">
        </activity>
        <activity android:name=".authentication.LoginActivity">
        </activity>
        <activity android:name=".admin.activity.UserListActivity">
        </activity>
        <activity android:name=".user.activity.HomeActivity">
        </activity>
        <activity android:name=".user.activity.MainActivity">
        </activity>
        <activity android:name=".user.activity.AddNewLaborActivity">
        </activity>
        <activity android:name=".user.activity.AdvancePaymentReportActivity">
        </activity>
        <activity android:name=".other.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>